body {
    display: flex;
    justify-content: center;
    padding: 12px 100px;
    margin: 0px;
}

.calc-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 20px;
}

.display-container {
    display: flex;
    flex: auto;
    padding: 20px; 
}

.calc-button-container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    gap: 20px;
}

.calc-button {
    display: flex;
    flex: auto;
    justify-content: center;
    width: 140px;
    height: auto;
    padding: 12px 20px;
}

