body {
    display: flex;
    justify-content: center;
    padding: 20px 100px;
}

.calc-container {
    display: flex;
    flex-direction: column;
    flex: auto;
    gap: 20px;
}

.calc-button-container {
    display: flex;
    flex: auto;
    justify-content: space-between;
    gap: 20px;
}

.calc-button {
    display: flex;
    flex: auto;
    text-align: center;
    padding: 12px 20px;
}

